.achievements {
    padding: 3rem 1rem;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  .achievements > h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .achievements-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); /* Changed auto-fit to auto-fill */
    gap: 2rem;
  }
  
  .achievement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .profile-image {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 5%;
    margin-bottom: 1rem;
  }
  
  .achievement-item p {
    font-size: 1rem;
    max-width: 300px;
  }
  
  @media screen and (max-width: 768px) {
    .achievements-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 480px) {
    .achievements-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  